@import "tailwindcss";

.bg-otb-gradient {
  background-image: url("../../public/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@theme {
  --color-otb-blue: #17317f;
  --color-otb-yellow: #fedc07;
  --color-otb-grey: #ccc;
}
